DATABASE_URL=sqlite:///./event_pipeline.db
LOG_LEVEL=INFO
ETHEREUM_RPC_URL=https://mainnet.infura.io/v3/b9f206f747b64dd9b20a35c435f90fae
POLL_INTERVAL_SECONDS=15
MIN_VALUE_ETH_TO_FORWARD=1.0
RISK_ENGINE_URL=http://127.0.0.1:8000
